[Desktop Entry]
Name=Daluang - Wikipedia Offline Browser
Comment=Read Wikipedia content offline
Exec=daluang
Icon=daluang
StartupNotify=false
Terminal=false
Type=Application
Categories=GTK;GNOME;Education;Science;
Name[id]=Daluang - Peramban Offline Wikipedia
Comment[id]=Baca Wikipedia secara offline
