[Desktop Entry]
Name=Daluang Wikipedia Offline Browser
Comment=Read Wikipedia content offline
Exec=daluang-browser
Icon=daluang
StartupNotify=false
Terminal=false
Type=Application
Categories=GTK;GNOME;Education;Science;
Name[id]=Peramban Offline Wikipedia
Comment[id]=Baca Wikipedia secara offline
