[Desktop Entry]
Encoding=UTF-8
_Name=Daluang Wikipedia Offline Browser
_Comment=Read Wikipedia content offline
Exec=daluang-browser
Icon=daluang
StartupNotify=false
Terminal=false
Type=Application
Categories=Application;Office
