{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head><title>Content not found!</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="/+res/style.css"/>
</head><body>
<h1>{% blocktrans %}Not found{% endblocktrans %}</h1>

<p>{% blocktrans %}Daluang doesn't have an article called <strong>{{ article }}</strong>.{% endblocktrans %}</p>

<p>{% blocktrans %}Suggestions:{% endblocktrans %}</p>

<ul>
<li><a href="/{{ lang }}/search/{{ article }}/">{% blocktrans %}Search content for <strong>{{ article }}</strong>{% endblocktrans %}</a></p>
<li><a href="http://{{ lang }}.wikipedia.org/wiki/{{ article }}">{% blocktrans %}Open online version of <strong>{{ article }}</strong>{% endblocktrans %}</a></p>
<li><a href="http://{{ lang }}.wikipedia.org/wiki/Special:Search/{{ article }}">{% blocktrans %}Search wikipedia for <strong>{{ article }}</strong>{% endblocktrans %}</a></p>
</ul>

</body></html>
